Source: pymoresane
Section: science
Priority: optional
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/ratt-ru/PyMORESANE
X-Python-Version: 2.7

Package: python-pymoresane
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Python version of the MORESANE deconvolution algorithm
 This is a Python and pyCUDA-accelerated implementation of the MORESANE
 deconvolution algorithm.
